{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Enrolled Courses</h2>
    <div class="row">
        {% for enrolled in enrolled_courses %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                {% if enrolled.course.image %}
                <img src="{{ enrolled.course.image.url }}" class="card-img-top" alt="{{ enrolled.course.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ enrolled.course.name }}</h5>
                    <p class="card-text">{{ enrolled.course.description }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <li>No courses enrolled</li>
        {% endfor %}
    </div>
</div>
{% endblock %}